.background-block{
	background: $grey;
	padding: 40px;
	.img-block{
		display: block;
		height: 135px;
		line-height: 135px;
		margin-bottom: 20px;
		img,svg{
			vertical-align: middle;
			// display: block;
			margin:0 auto;
		}

	}
	.four-col{
		margin-bottom: 60px;
		a{
			display: block;
			color:$magenta;
			font-weight: $semi;
			font-size: 20px;
			&:hover{
				color:$theme-color;
			}
		}
	}
}