.banner{
	height: 350px;
	.container-large, .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .item{
		height: 100%;
	}
	.item{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 70% 0;
		padding:40px;
		@include breakpoint(small) {
			padding:102px 0  0 17%;
			background-position: left top;
		}
		p{
			font:$ebold 24px/30px $text;
			color:$white;
			@include breakpoint(small) {
				font:$ebold 45px/54px $text;
				max-width: 525px;
			}
		}
	}
}
.page-banner{
	height: 100%;
}