.content-sidebar-left{
	.content-left{
		margin-bottom: 30px;
		@include breakpoint(small) {
			width: calc(100% - 325px);
			margin-bottom: 0;
			float: left;
		}
	}
	.sidebar{
		@include breakpoint(small) {
			width: 282px;
			float: right;
		}
	}
}

.content-sidebar-right{
	.content-right{
		@include breakpoint(small) {
			width: calc(100% - 325px);
			float: right;
		}
	}
	.sidebar{
		margin-bottom: 30px;
		@include breakpoint(small) {
			margin-bottom: 0;
			float: left;
			width: 282px;
		}
	}
}
// .sidebar{
// 	@include breakpoint(small) {
// 		width: 282px;
// 	}
// }