.full-width-content{
	.btn {
	    margin-top: 28px;
	    margin-left: 20px;
	    margin-right: 20px;
	    @include breakpoint(small) {
	    	 margin-left: 148px;
	    }
	}
	h3{
		font-size: 20px;
	}
}