header{
	padding:14px 0 5px;
}
.logo{
	float: left;
	@include breakpoint (small) {
		padding: 0 0 0 15px;
	}
	img{
		height: 50px;
		@include breakpoint (small) {
			height: 100%;
		}
	}
	a{
		display: block;
	}
}
.side-nav{
	float: left;
    width: 60%;
    margin-left: 10px;
	@include breakpoint (small) {
		float: right;
		margin-top: 55px;
		width: auto;
		margin-left: 0;
	}
	.info-bar{
		ul{
			li{
				float: left;
				font:$light 14px $text;
				color:$grey-dark;
				text-align: right;
				margin-left: 10px;
				a{
					font:$bold 16px $text;
					i{
						color: $green;
						@include transition_hover();
					}
					&:hover{
						i{
							color:$theme-color;
						}
					}
				}
			}
		}
	}
}