.img-content{
	.img-block{
		text-align: center;
		width: 150px;
		margin:0 auto;
		@include breakpoint(small) {
			float: left;
			margin-left: 20px;
		}
	}
	.content{
		@include breakpoint(small) {
			float: right;
			width: calc(100% - 200px);
		}
	}
}