.img-content{
	margin-bottom: 173px;
	.img-block{
		text-align: center;
		width: 150px;
		margin:0 auto;
		@include breakpoint(small) {
			float: left;
			margin-left: 20px;
		}
	}
	.content{
		max-width: 821px;
		@include breakpoint(small) {
			float: right;
		}
	}
}