.intro-bar{
	font-size:20px;
	font-weight: $bold;
	position: relative;
	
	
	@include breakpoint(small) {
		font-size:29px;
	}
	.container-large{
		@include border(bottom,1px,solid,$grey-dark);
		padding: 10px 0;
	}
}