.intro-form {
	margin-bottom: 40px;
	.global-form {
		background: $theme-color;
		margin-top: -94px;
		position: relative;
		z-index: 1;
		padding: 91px 70px 75px;
	}

	.btn-blue {
		color: $white;
		font-weight: $regular;

		&:hover {
			color: $grey-dark;
			background: $white;
		}

	}

	ul {
		li {
			float: left;
		}

	}
}
.steps-intro{
	background: $primary-color;
	ul{
		@include breakpoint(small) {
			text-align: center;
		}
		li{
			color: $white;
			font-weight: $bold;
			font-size: 14px;
			line-height: 37px;
			display: block;
			float:none;
			padding: 0 15px;
			@include breakpoint(small) {
				display: inline-block;
				width: 33.33%;
			}
		}
	}
}