
/*Header*/
	header {
		position: relative;
	}

.menu-toggle {
	width: 35px;
	height: 30px;
	cursor: pointer;
	background-color: #FFF;
	position: absolute;
	right: 20px;
	top: 0;
	transform: translateY(-0%);
	-webkit-transform: translateY(-0%);
	-moz-transform: translateY(-0%);
	-ms-transform: translateY(-0%);
	-o-transform: translateY(-0%);
	float: right;
	display: block;

	@include breakpoint(medium) {
		display: none;
	}

	>span {
		width: 35px;
		height: 6px;
		background-color: #676767;
		margin-bottom: 6px;
		display: block;
		transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;

		&:last-child {
			margin-bottom: 0px;
		}

	}

	&.active>span {
		background: #09426A;

		&:first-child {
			transform: rotate(50deg);
			-webkit-transform: rotate(50deg);
			-moz-transform: rotate(50deg);
			-ms-transform: rotate(50deg);
			-o-transform: rotate(50deg);
			position: relative;
			top: 8px;
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:last-child {
			transform: rotate(-50deg);
			-webkit-transform: rotate(-50deg);
			-moz-transform: rotate(-50deg);
			-ms-transform: rotate(-50deg);
			-o-transform: rotate(-50deg);
			position: relative;
			top: -16px;
		}

	}

}

.main-menu {
	float: left;
	position: relative;
	z-index: 99;
	margin-left: 39px;
	margin-top: 49px;
	@include transition_hover(1s);
	@include breakpointMax(medium) {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		padding: 0 20px;
		z-index: 2;
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		float: left;
		@include breakpointMax(medium) {
			width: 100%;
		}

		a {
			color: $grey-dark;
			text-decoration: none;
			display: block;
			font-size: 15px;
			line-height: 1;
			text-transform: uppercase;
		}

		li {
			list-style: none;
		}

		>li {
			float: left;
			padding: 0;
			position: relative;
			margin-right: 48px;

			@include breakpointMax(medium) {
				display: block;
				width: 100%;
				padding: 0 70px 0 0;
			}
			@include breakpointMax(large) {
				padding: 0 15px;
			}

			@include breakpointMax(x-large) {
				padding: 0 25px;
			}

			&:first-child {
				// padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			>a {
				padding: 10px 0 12px;
				@include breakpointMax(medium) {
					padding: 10px 0 12px 0px;
				}
			}

			&:hover {
				a {
					color: #054068;
				}

				ul.sub-menu {
					display: block;
				}

			}

			&.active {
				a {
					color: #054068;
				}

			}

			ul.sub-menu {
				position: absolute;
				top: 100%;
				left: 15px;
				background: #054068;
				width: 240px;
				z-index: 2;
				display: none;
				padding: 0px 20px;
				@include breakpointMax(medium) {
					position: static;
					width: 100%;
					background: transparent;
				}

				li {
					display: block;
					width: 100%;

					>a {
						line-height: 1.5;
					}

					a {
						color: #fff;
						padding: 10px 0;
						@include breakpointMax(medium) {
							color: #054068;
						}
					}

				}

				&:hover {
					display: block;
				}

			}

		}

	}

}


