.progress-bar {
	.progress-marker {
		width: 50px;
		height: 50px;
		background: $grey;

		i {
			font-size: 24px;
			margin: 0;
			color: $grey-dark;
		}

	}

	.progress-step:not(:last-child)::after {
		top: 25px;
	}

	.progress-step::after {
		background: $grey-dark;
	}.progress-step.is-complete::after {
		background: $green-step;
	}
	.progress-text h4{

				font-size: 14px;
				font-weight: $regular;
				line-height: 1;
	}

	.is-complete, .is-active {
		.progress-marker {
			background: $green-step;
			i {
				color: $white;
			}

		}
		.progress-text{
			h4{
				color:$green;
				font-weight: $semi;
			}
		}

	}

}
